.landing-page-design {
    width: 1440px;
    height: 6195px;
    background-color: white;
}
.landing-page-design .navbar {
    height: 57px;
    width: 1170px;
    margin-top: 50px;
    margin-left: 135px;
}
.landing-page-design .group-1 {
    height: 56px;
    width: 1169px;
    margin-top: 0px;
    margin-left: 0px;
}
.landing-page-design .text {
    position: absolute;
    width: 160px;
    height: 49px;
    left: 135px;
    top: 50px;
}
.landing-page-design .text-design-1 {
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 49px;
    letter-spacing: 0%;
}
.landing-page-design .span {
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 49px;
}
.landing-page-design .text-1 {
    margin-left: 359px;
    position: static;
    width: 46px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.landing-page-design .text-design-2 {
    font-family: 'Manrope', sans-serif;
    color: rgb(255, 66, 64);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.landing-page-design .text-2 {
    margin-left: 44px;
    position: static;
    width: 45px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.landing-page-design .text-design-3 {
    color: rgb(66, 66, 71);
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
}
.landing-page-design .text-3 {
    margin-left: 44px;
    position: static;
    width: 46px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.landing-page-design .text-4 {
    margin-left: 44px;
    position: static;
    width: 33px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.landing-page-design .text-5 {
    margin-left: 44px;
    position: static;
    width: 61px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}
.landing-page-design .img {
    margin-left: 208px;
    position: static;
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.landing-page-design .img-design {
    text-align: center;
    width: 14px;
    height: 14px;
    left: 3px;
    top: 3px;
}
.landing-page-design .mm {
    background-color: #ff5400;
    border-color: #ff5400;
    border-radius: 8px;
    position: relative;
    margin-left: 28px;
    height: 57px;
    width: 148px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 15px 24px;

}
.landing-page-design .button-text {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    white-space: nowrap;
}
.landing-page-design .group-2 {
    margin-left: 135px;
    height: 550px;
    margin-top: 68px;
    width: 1170px;
    border-radius: 16px;
}
.landing-page-design .button-1 {
    margin-left: 32px;
    margin-top: 380px;
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
}
.landing-page-design .button-2 {
    margin-top: 380px;
    margin-right: 1000px;
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
}
.landing-page-design .slide-box {
    /* Frame 3 */
    /* Frame 3 */
    position: absolute;
    width: 566px;
    height: 165px;
    left: 707px;
    right: 167px;
    top: 510px;
    bottom: 5520px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    border-radius: 16px;
    background: rgb(19, 19, 24);


}
.landing-page-design .slide-box-text-1 {
    /* Meet all the heroes from the field */
    position: static;
    width: 391px;
    height: 33px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}
.landing-page-design .side-box-text-design-1 {
    color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 24px;
font-weight: 800;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
    }
.landing-page-design .slide-box-text-2 {
/* Dit amet consectetur. Condimentum dignissim adipiscing aliquam turpis placerat dolor. Purus urna in sit nullam proin. */
    position: static;
    width: 502px;
    height: 52px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}
.landing-page-design .slide-box-text-design-2 {
    font-family: 'Manrope', sans-serif;
    color:white;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.landing-page-design .line {
    /* Line 2 */
position: absolute;
width: 1170px;
height: 0;
left: 135px;
top: 806.5px;
border: 1px dashed rgba(19, 19, 24, 0.2);
}
.landing-page-design .text-6 {
    /* Professional Hockeys Club */
position: absolute;
width: 472px;
height: 49px;
left: 483px;
top: 839px;
}
.landing-page-design .text-design-6 {
    color: rgb(19, 19, 24);
    font-family: 'Manrope', sans-serif;
font-size: 36px;
font-weight: 800;
line-height: 49px;
letter-spacing: 0%;
text-align: center;
white-space: nowrap;
}
.landing-page-design .text-7 {
    /* Dit amet consectetur. Condimentum dignissim adipiscing aliquam turpis placerat dolor. Purus urna in sit nullam proin. */
position: absolute;
width: 607px;
height: 52px;
left: 416px;
top: 912px;
}
.landing-page-design .text-design-7 {
    color: rgba(19, 19, 24, 0.6);
    font-family: 'Manrope', sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.landing-page-design .line-1 {
    /* Line 1 */
position: absolute;
width: 1170px;
height: 0;
left: 135px;
top: 995.5px;
border: 1px dashed rgba(19, 19, 24, 0.2);
}
.landing-page-design .progressbar {
    margin-top: 300px;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    gap: 162px;
}
.landing-page-design .group-3 {
    display: flex;
    flex-direction: row;

}
.landing-page-design .group-text-box-31 {
    /* Prayer Facility */
position: absolute;
width: 133px;
height: 27px;
left: 230px;
top: 1188px;
}
.landing-page-design .group-text-box-32 {
    /* Experienced Coach */
position: absolute;
width: 185px;
height: 27px;
left: 486px;
top: 1188px;
}
.landing-page-design .group-text-design-box-32 {
    color: rgb(19, 19, 24);
    font-family: 'Manrope', sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
white-space: nowrap;
}
.landing-page-design .group-text-box-33 {
    /* Senior Player */
position: absolute;
width: 125px;
height: 27px;
left: 798px;
top: 1188px;
}
.landing-page-design .group-text-box-34 {
    /* Training Ground */
position: absolute;
width: 153px;
height: 27px;
left: 1066px;
top: 1188px;
}
.landing-page-design .group-4 {
    display: flex;
    flex-direction: row;

}
.landing-page-design .group-text-box-41 {
    /* Amet consectetur. Condimentum dignissim adipiscing . */
position: absolute;
width: 250px;
height: 52px;
left: 172px;
top: 1231px;
}
.landing-page-design .group-text-box-42 {
   /* Amet consectetur. Condimentum dignissim adipiscing . */
position: absolute;
width: 250px;
height: 52px;
left: 454px;
top: 1231px;
}
.landing-page-design .group-text-design-box-42 {
    font-family: 'Manrope', sans-serif;
    color: rgba(19, 19, 24, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.landing-page-design .group-text-box-43 {
    /* Amet consectetur. Condimentum dignissim adipiscing . */
position: absolute;
width: 250px;
height: 52px;
left: 736px;
top: 1231px;
}
.landing-page-design .group-text-box-44 {
    /* Amet consectetur. Condimentum dignissim adipiscing . */
position: absolute;
width: 250px;
height: 52px;
left: 1018px;
top: 1231px;
}
.landing-page-design .line-2 {
    /* Line 2 */
position: absolute;
width: 1170px;
height: 0;
left: 135px;
top: 1382.5px;
border: 1px dashed rgba(19, 19, 24, 0.2);
}
.landing-page-design .text-8 {
    /* Program Sections */
position: absolute;
width: 318px;
height: 49px;
left: 560px;
top: 1415px;
}
.landing-page-design .text-9 {
    /* Dit amet consectetur. Condimentum dignissim adipiscing aliquam turpis placerat dolor. Purus urna in sit nullam proin. */
position: absolute;
width: 607px;
height: 52px;
left: 416px;
top: 1488px;
}
.landing-page-design .line-3 {
    /* Line 2 */
position: absolute;
width: 1170px;
height: 0;
left: 135px;
top: 1571.5px;
border: 1px dashed rgba(19, 19, 24, 0.2);
}
.landing-page-design .group-5 {
    position: absolute;
    left: 135px;
    top: 1620px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.landing-page-design .group-51 {
    background-image: url(../Images/2.png);
    background-size: 100% 100%;
    height: 338px;
    width: 573px;
  }
  
  .landing-page-design .group-511 {
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-size: 100% 100%;
    border-radius: 16px;
    height: 338px;
  }
  
  .landing-page-design .group-5111 {
    height: 146px;
    left: 32px;
    position: relative;
    top: 20px;
    width: 350px;
  }
  
  .landing-page-design .group-51111 {
    height: 146px;
  }
  
  .landing-page-design .group-511111 {
    height: 146px;
    position: relative;
    width: 300px;
  }
  
  .landing-page-design .text-10 {
    left: 10px;
    position: absolute;
    top: 0;
    color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 28px;
font-weight: 800;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
  }
  
  .landing-page-design .text-11 {
    
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    width: 132px;
    color: rgb(255, 255, 255);
font-family: Manrope;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
  }
  .landing-page-design .group-52 {
    background-image: url(../Images/3.png);
    background-size: 100% 100%;
    height: 338px;
    width: 573px;
  }
  .landing-page-design .group-522 {
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-size: 100% 100%;
    border-radius: 16px;
    height: 338px;
  }
  .landing-page-design .group-6 {
    /* Rectangle 13 */
    position: absolute;
    width: 1170px;
    height: 450px;
    left: 135px;
    top: 1982px;
    }
    .landing-page-design .group-61 {
        background-image: url(../Images/4.png);
        background-size: 100% 100%;
        height: 450px;
        width: 1170px;
      }
      
      .landing-page-design .group-62 {
        background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
        background-size: 100% 100%;
        border-radius: 16px;
        height: 450px;
      }
      
      .landing-page-design .group-63 {
        height: 146px;
        left: 32px;
        position: relative;
        top: 20px;
        width: 350px;
      }
      
      .landing-page-design .group-64 {
        height: 146px;
      }
      
      .landing-page-design .group-65 {
        height: 146px;
        position: relative;
        width: 300px;
      }
      
      .landing-page-design .text-12 {
        left: 10px;
        position: absolute;
        top: 0;
        color: rgb(255, 255, 255);
    font-family: Manrope;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
      }
      
      .landing-page-design .text-13 {
        
        left: 0;
        letter-spacing: 0;
        position: absolute;
        text-align: center;
        width: 132px;
        color: rgb(255, 255, 255);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
      }
.landing-page-design .line-4 {
    position: absolute;
width: 1170px;
height: 0;
left: 135px;
top: 2531.5px;
border: 1px dashed rgba(19, 19, 24, 0.2);
}
.landing-page-design .text-14 {
    /* Our New Products */
position: absolute;
width: 319px;
height: 49px;
left: 500px;
top: 2564px;
}
.landing-page-design .text-15 {
    /* Dit amet consectetur. Condimentum dignissim adipiscing aliquam turpis placerat dolor. Purus urna in sit nullam proin. */
position: absolute;
width: 607px;
height: 52px;
left: 416px;
top: 2637px;
}
.landing-page-design .line-5 {
    position: absolute;
width: 1170px;
height: 0;
left: 135px;
top: 2720.5px;
border: 1px dashed rgba(19, 19, 24, 0.2);
}
.landing-page-design .group-7 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    left: 135px;
    top: 2769px;
    position: absolute;
    gap: 24px;
}
.landing-page-design .overlap {
    background: white;
    width: 573px;
    height: 218px;
    box-sizing: border-box;
    border: 1px solid rgba(19, 19, 24, 0.1);
    border-radius: 16px;

}
.landing-page-design .imgover{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-left: 226px;
    margin-top: 27px;
}
.landing-page-design .textover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 300px;
    margin-left: 250px;
    margin-top: 0px;
}

.landing-page-design .overlap-img {
    /* Rectangle 4 */
position: absolute;
width: 180px;
height: 172px;
margin-top: 24px;
margin-left: 24px;
}
.landing-page-design .star-img {
    /* Vector */
    position: absolute;
    width: 19.97px;
    height: 18.99px;
}
.landing-page-design .eye-img {
    position: absolute;
    width: 18px;
    height: 12px;
}
.landing-page-design .love-img {
    position: absolute;
    width: 18px;
    height: 16px;
}
.landing-page-design .ao {
    /* 5.0 */
position: absolute;
width: 24px;
height: 22px;
margin-left: 21px;
}
.landing-page-design .bo {
    color: rgba(19, 19, 24, 0.5);
font-family: Manrope;
font-size: 16px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;

}
.landing-page-design .icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.landing-page-design .box-text {
    margin-left: 224px;
}
.landing-page-design .text-16 {
/* World Cup Flags Football */
position: absolute;
width: 242px;
height: 27px;
margin-top: 35px;
}
.landing-page-design .text-17 {
/* Dolor sit amet consectetur. Ut urna diam quis sagittis. */
position: absolute;
width: 306px;
height: 52px;
margin-top: 72px;
}
.landing-page-design .text-design-6a {
    color: rgb(19, 19, 24);
font-family: Manrope;
font-size: 20px;
font-weight: 800;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}
.landing-page-design .text-design-7b {
    color: rgba(19, 19, 24, 0.6);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.landing-page-design .price-cart {
    margin-left: 224px;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.landing-page-design .price-box {
    position: absolute;
width: 124px;
height: 26px;
}
.landing-page-design .price {
    color: rgb(255, 66, 64);
font-family: Manrope;
font-size: 18px;
font-weight: 800;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.landing-page-design .shopping-cart {
    /* Frame */
position: relative;
width: 24px;
height: 24px;
margin-left: 150px;
display: inline-flex;
gap: 10px;
}
.landing-page-design .delivery {
    /* Delivery Fee : Free */
    color: rgba(19, 19, 24, 0.5);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    white-space: nowrap;
}
.landing-page-design .line-6 {
    position: absolute;
    width: 1170px;
    height: 0;
    left: 135px;
    top: 3570.5px;
    border: 1px dashed rgba(19, 19, 24, 0.2);
}
.landing-page-design .text-18 {
/* Clients Question */
position: absolute;
width: 300px;
height: 49px;
left: 569px;
top: 3603px;
}
.landing-page-design .text-19 {
/* Dit amet consectetur. Condimentum dignissim adipiscing aliquam turpis placerat dolor. Purus urna in sit nullam proin. */
position: absolute;
width: 607px;
height: 52px;
left: 416px;
top: 3676px;
}
.landing-page-design .line-7 {
    position: absolute;
    width: 1170px;
    height: 0;
    left: 135px;
    top: 3759.5px;
    border: 1px dashed rgba(19, 19, 24, 0.2);
}
.landing-page-design .group-8 {
    left: 135px;
    top: 3808px;
    position: absolute;
}
.landing-page-design .overlap1 {
    background: white;
    width: 1170px;
    height: 534px;
    box-sizing: border-box;
    border: 1px solid rgba(19, 19, 24, 0.1);
    border-radius: 16px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}
.landing-page-design .overlap1-img {
position: absolute;
width: 441px;
height: 470px;
margin-top: 24px;
margin-left: 24px;
}
.landing-page-design .text-20 {
    position: absolute;
    width: 145px;
    height: 27px;
}
.landing-page-design .text-21 {
    position: absolute;
    width: 518px;
    height: 52px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.landing-page-design .text-design-6aa {
    color: rgb(19, 19, 24);
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    white-space: nowrap;
}
.landing-page-design .text-design-7bb {
    color: rgba(19, 19, 24, 0.6);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.landing-page-design .overlap1-text {
    margin-top: 32px;
    margin-left: -60px;
}
.landing-page-design .line-8 {
    position: absolute;
    width: 617px;
    height: 0;
    left: 0px;
    border: 1px dashed rgba(19, 19, 24, 0.2);
}
.landing-page-design .inline {
    display: inline-flex;
}
.landing-page-design .plus {
    /* Frame */
width: 24px;
height: 24px;
text-align: right;
margin-left: 400px;
margin-top: 10px;
}
.landing-page-design .plus1 {
    width: 24px;
    height: 24px;
    text-align: right;
    margin-left: 450px;
    margin-top: 10px;
}
.landing-page-design .plus2 {
    width: 24px;
    height: 24px;
    text-align: right;
    margin-left: 477px;
    margin-top: 10px;
}
.landing-page-design .plus3 {
    width: 24px;
    height: 24px;
    text-align: right;
    margin-left: 484px;
    margin-top: 10px;
}
.landing-page-design .plus4 {
    width: 24px;
    height: 24px;
    text-align: right;
    margin-left: 550px;
    margin-top: -5px;
}